:root {
	--button-width: 287px;
	--button-height: 458px;
}

body,html {
	background-color: #082223;
	padding: 0;
	margin: 0;
}

.row {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	justify-items: center;
	height: 100vh;
}

.grid {
	justify-self: stretch;
}

/**
 * Make sure images scale
 */
img {
	height: auto;
	max-width: 100%;
}

.button.button--primary {
	-webkit-appearance: none;
	background: darkseagreen;
	border-radius: 20px;
	border: 1px solid black;
	min-height: 50px;
	min-width: 200px;
	text-transform: uppercase;
}

.button-door {
	appearance: none;
	background-color: #082223;
	background-position: 50%;
	background-repeat: no-repeat;
	background-size: auto;
	background-size: contain;
	border: 0;
	height: 100%;
	width: 100%;
}

.credits { color: white;}
.credits a { color: white;}

.status-restart-game .popup-restart {
	align-content: center;
	background-color: rgb(245 222 179/.9);
	bottom: 4rem;
	display: flex;
	flex-direction: column;
	font-size: 120%;
	justify-content: center;
	left: 4rem;
	padding: 4rem;
	position: absolute;
	right: 4rem;
	text-align: center;
	top: 4rem;
}

.status-restart-game .button-door {
	pointer-events: none;
}

.u-sr-only {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}
