:root {
	--button-width: 287px;
	--button-height: 458px;
}

body,html {
	background-color: #082223;
	padding: 0;
	margin: 0;
}

.row {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	justify-items: center;
	height: 100vh;
}

.grid {
	justify-self: stretch;
}

/**
 * Make sure images scale
 */
img {
	height: auto;
	max-width: 100%;
}

.button-door {
	appearance: none;
	background-position: 50%;
	background-repeat: no-repeat;
	background-size: auto;
	background-size: contain;
	border: 0;
	height: 100%;
	width: 100%;
}

.credits { color: white;}
.credits a { color: white;}
