:root {
	--button-width: 287px;
	--button-height: 458px;
}

body,html {
	background-color: #082223;
}

button {
	appearance: none;
	background-size: auto;
	border: 0;
	height: var(--button-height);
	width: var(--button-width);
}

.row {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	justify-items: center;
}

/**
 * Make sure images scale
 */
img {
	height: auto;
	max-width: 100%;
}

.button-door {
	background-image: url('assets/img/doors.jpg');
}
